* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
  transition: background-color 0.5s ease;
}
svg {
  width: 3em;
  height: 3em;
}
body {
  background-color: #8cd1be;
  color: rgb(60, 60, 60);
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.App {
  text-align: center;
  background-color: rgb(185, 185, 185);
  width: 80%;
  margin: 100px auto;
  padding: 50px 0;
  border-radius: 26px;
  background: #f1f1f1;
  box-shadow: 18px 18px 37px #bebebe, -18px -18px 37px #ffffff;
  h1,
  h2,
  p {
    margin: 8px 0;
    font-size: 20px;
  }
}
