*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    transition: background-color 0.5s ease;
}

a{
    display: block;
    text-decoration: none;
    color:inherit;
    
}
ul{
    list-style: none;
}


.main-wrapper .user-card{
    text-align: center;
}
.main-wrapper .user-card img {
    width: 300px;
    margin-bottom: 10px;
}
.main-wrapper .infor-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-wrapper .infor-wrapper strong {
    height: 40px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.button-wrapper button{
    margin: 0 10px;
}
.display-box, input {
    border: 1px #ccc solid;
    width: 300px;
    text-align: center;
    margin-bottom: 20px;
    padding:20px;
    border-radius: 12px;
    font-weight: 600;
}
.input-wrapper{
    margin-top: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
input {
    font-size: 18px;
    margin: 10px;
}
input:focus{
    outline: none;
    
}
.main-wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.box-wrapper{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: top 0.3s ease,left 0.3s ease;
    background-color: #321c3b;
    color: #d4b9cf;
    border-radius: 12px;
    width: 500px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}