.popula-chart {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  .popula-row {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    strong {
      width: 150px;
    }
  }
  .row {
    height: 30px;
    margin: 5px 10px;
    .row-inner {
      width: 100%;
      height: 100%;
      background-color: #ffa500;
      border-radius: 5px;
    }
  }
}
